/* Menu.css */

:root {
    font-size: 62.5%;
    --cor-azul-primaria: #13508b;
    --cor-azul-secundaria: #72d6fe;
    --cor-azul-terciaria: #d7f7ff;
    --cor-cinza: #f2f2f2;
}
.menu {
    /* border: 1px solid red; */
    width: 97%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--cor-cinza);
    padding: 1rem 3rem 1rem 3rem;
    /* margin-right: 40rem; */
    /* padding: 0.4rem 8rem 0.4rem 8rem; */
    box-shadow: 0.3rem 0.3rem 0.5rem #0000003f;
    position: fixed;
    top: 0;
    z-index: 1000;
}

.imgMenu > img {
    /* border: 1px solid red; */
    max-width: 24rem;
}

.menu a {
    /* border: 1px solid red; */
    font-size: 1.6rem;
    float: left;
    display: block;
    color: var(--cor-azul-primaria);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-weight: 400;
}

.listaMenu::after {
    content: "";
    width: 0;
    height: 3px;
    background-color: var(--cor-azul-secundaria);
    margin: auto;
    display: block;
}

.listaMenu:hover::after {
    width: 100%;
    transition: width 0.3s linear;
}

.listaMenu:hover {
    color: var(--cor-vermelha-primaria);
    cursor: pointer;
}

.menu a:hover {
    color: var(--cor-azul-secundaria);
}