/* Menu.css */

:root {
    font-size: 62.5%;
    --cor-azul-primaria: #13508b;
    --cor-azul-secundaria: #72d6fe;
    --cor-azul-terciaria: #d7f7ff;
    --cor-cinza: #f2f2f2;
    --cor-vermelha-primaria: #e53935;
}

.menu {
    width: 100%;
    margin: 0 0px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--cor-cinza);
    padding: 1rem 3rem;
    box-shadow: 0.3rem 0.3rem 0.5rem #0000003f;
    /*position: fixed;*/
    top: 0;
    z-index: 1000;
    flex-wrap: wrap; /* Permite que os itens se movam para a linha seguinte em telas pequenas */
}

.imgMenu > img {
    max-width: 12rem; /* Ajuste o tamanho da imagem para dispositivos menores */
}

.lista {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.listaMenu {
    font-size: 1.6rem;
    color: var(--cor-azul-primaria);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-weight: 400;
}

.listaMenu::after {
    content: "";
    width: 0;
    height: 3px;
    background-color: var(--cor-azul-secundaria);
    margin: auto;
    display: block;
}

.listaMenu:hover::after {
    width: 100%;
    transition: width 0.3s linear;
}

.listaMenu:hover {
    color: var(--cor-vermelha-primaria);
    cursor: pointer;
}

.menu a:hover {
    color: var(--cor-azul-secundaria);
}

/* Menu Hambúrguer */

.menu-toggle {
    display: none; /* Oculta o botão de menu em telas grandes */
    /*background-color: blue;*/
    width: 30px;
    height: 20px;
    align-items: center;
    /*border-radius: 8px;*/
}

.menu-toggle-button {
    display: flex;
    flex-direction: column;
    cursor: pointer;
    background: none;
    border: none;
    font-size: 2rem;
    color: var(--cor-azul-primaria);
}

.menu-toggle-button div {
    width: 2rem;
    height: 0.2rem;
    background-color: var(--cor-azul-primaria);
    margin: 0.3rem 0;
    transition: all 0.3s ease;
}

/* Mostrar menu-toggle em telas pequenas */

@media (max-width: 768px) {
    .itemsMenu {
        margin: 0 2rem;
        padding: 1rem;
        flex-direction: column;
        display: flex;
        align-items: center;
    }

    .lista {
        display: none;
        width: 100%;
        flex-direction: column;
    }

    .lista.active {
        display: flex;
    }

    .menu-toggle {
        display: block;
    }

    .menu-toggle-button.active div:nth-child(1) {
        transform: rotate(45deg);
        background-color: var(--cor-vermelha-primaria);
    }

    .menu-toggle-button.active div:nth-child(2) {
        opacity: 0;
    }

    .menu-toggle-button.active div:nth-child(3) {
        transform: rotate(-45deg);
        background-color: var(--cor-vermelha-primaria);
    }

    .listaMenu {
        font-size: 1.4rem;
        text-align: left;
        padding: 1rem;
        border-bottom: 1px solid var(--cor-azul-terciaria);
        width: 100%;
    }
}
